<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<head>
    <title>Lead Management Page</title>
</head>

<body>

<main id="main" class="main">

    <div layout:fragment="content">

        <div class="pagetitle">
            <h1>Leads</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
                    <li class="breadcrumb-item">Pages</li>
                    <li class="breadcrumb-item active">Leads</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->


        <div class="row">
            <div class="col-lg-6">

                <!-- Vertically centered Modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
                    New Lead
                </button>

            </div>
            <div class="col-lg-3">

                <div class="search-bar">
                    <form class="search-form d-flex align-items-center" th:action="@{/customerLeads}">
                        <input type="text" name="keyword" placeholder="Search" title="Enter search keyword">
                        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
                    </form>
                </div><!-- End Search Bar -->

            </div>

        </div>


        <!-- Table with stripped rows -->
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Full Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Job Title</th>
                <th>Company Name</th>
                <th>Lead Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customerLead:${customerLeads}">
                <td th:text="${customerLead.firstname} + ' ' + ${customerLead.lastname}"></td>
                <td th:text="${customerLead.phone}"></td>
                <td th:text="${customerLead.email}"></td>
                <td th:text="${customerLead.jobTitle}"></td>
                <td th:text="${customerLead.companyName}"></td>
                <td th:text="${customerLead.customerLeadStatus.description}"></td>
                <td>
                    <div class="btn-group">
                        <a th:href="@{/customerLeads/findById/(id=${customerLead.id})}" data-bs-toggle="modal" class="btn btn-success" id="editButton" data-bs-target="#editModal">Edit</a>
                        <a th:href="@{/customerLeads/findById/(id=${customerLead.id})}" data-bs-toggle="modal" class="btn btn-warning" id="detailsButton" data-bs-target="#detailsModal">Details</a>
                        <a th:href="@{/customerLeads/delete/(id=${customerLead.id})}" data-bs-toggle="modal" class="btn btn-danger" id="deleteButton" data-bs-target="#deleteModal">Delete</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <!-- End Table with stripped rows -->

        <!-- Edit Modal -->
        <div class="modal fade" id="editModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Update Lead</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <form th:action="@{/customerLeads/update}" method="put">

                            <div class="form-group">
                                <label for="idEdit" class="col-form-label">Id: </label>
                                <input type="text" class="form-control" id="idEdit" name="id" readonly>
                            </div>
                            <div class="form-group">
                                <label for="firstNameEdit" class="col-form-label">First Name: </label>
                                <input type="text" class="form-control" id="firstNameEdit" name="firstname" placeholder="First Name" required>
                            </div>
                            <div class="form-group">
                                <label for="lastNameEdit" class="col-form-label">Last Name: </label>
                                <input type="text" class="form-control" id="lastNameEdit" name="lastname" placeholder="Last Name" required>
                            </div>
                            <div class="form-group">
                                <label for="phoneEdit" class="col-form-label">Phone:</label>
                                <input type="text" class="form-control" id="phoneEdit" name="phone" required>
                            </div>
                            <div class="form-group">
                                <label for="emailEdit" class="col-form-label">Email:</label>
                                <input type="email" class="form-control" id="emailEdit" name="email" required>
                            </div>
                            <div class="form-group">
                                <label for="jobTitleEdit" class="col-form-label">Job Title:</label>
                                <input type="text" class="form-control" id="jobTitleEdit" name="jobTitle" required>
                            </div>
                            <div class="form-group">
                                <label for="companyNameEdit" class="col-form-label">Company Name:</label>
                                <input type="text" class="form-control" id="companyNameEdit" name="companyName" required>
                            </div>

                            <div class="form-group">
                                <label for="ddlCustomerLeadStatusEdit" class="col-form-label">Lead Status: </label>
                                <select class="form-control" id="ddlCustomerLeadStatusEdit" name="customerleadstatusid">
                                    <option value="">-SELECT-</option>
                                    <option th:each="customerLeadStatus : ${customerLeadStatuses}"
                                            th:value="${customerLeadStatus.id}"
                                            th:text="${customerLeadStatus.description}">
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="notesEdit" class="col-form-label">Notes:</label>
                                <input type="text" class="form-control" id="notesEdit" name="notes" placeholder="Notes">
                            </div>

                            <div class="form-group">

                                <button type="submit" class="btn btn-primary">Submit</button>

                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Edit Modal-->

        <!-- Add Modal -->
        <div class="modal fade" id="addModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">New Lead</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <form th:action="@{/customerLeads/addNew}" method="post">

                            <div class="form-group">
                                <label for="firstNameAdd" class="col-form-label">First Name: </label>
                                <input type="text" class="form-control" id="firstNameAdd" name="firstname" placeholder="First Name" required>
                            </div>
                            <div class="form-group">
                                <label for="lastNameAdd" class="col-form-label">Last Name: </label>
                                <input type="text" class="form-control" id="lastNameAdd" name="lastname" placeholder="Last Name" required>
                            </div>
                            <div class="form-group">
                                <label for="phoneAdd" class="col-form-label">Phone:</label>
                                <input type="tel" class="form-control" id="phoneAdd" name="phone" placeholder="Phone" required>
                            </div>
                            <div class="form-group">
                                <label for="emailAdd" class="col-form-label">Email:</label>
                                <input type="email" class="form-control" id="emailAdd" name="email" placeholder="Email" required>
                            </div>
                            <div class="form-group">
                                <label for="jobTitleAdd" class="col-form-label">Job Title:</label>
                                <input type="text" class="form-control" id="jobTitleAdd" name="jobTitle" placeholder="Job Title" required>
                            </div>
                            <div class="form-group">
                                <label for="companyNameAdd" class="col-form-label">Company Name:</label>
                                <input type="text" class="form-control" id="companyNameAdd" name="companyName" placeholder="Company Name" required>
                            </div>

                            <div class="form-group">
                                <label for="ddlCustomerLeadStatusAdd" class="col-form-label">Lead Status: </label>
                                <select class="form-control" id="ddlCustomerLeadStatusAdd" name="customerleadstatusid" required>
                                    <option value="">-SELECT-</option>
                                    <option th:each="customerLeadStatus : ${customerLeadStatuses}"
                                            th:value="${customerLeadStatus.id}"
                                            th:text="${customerLeadStatus.description}">
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="notesAdd" class="col-form-label">Notes:</label>
                                <input type="text" class="form-control" id="notesAdd" name="notes" placeholder="Notes">
                            </div>

                            <div class="form-group">

                                <button type="submit" class="btn btn-primary">Submit</button>

                            </div>

                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Add Modal-->

        <!-- Details Modal -->
        <div class="modal fade" id="detailsModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Lead Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="idDetail" class="col-form-label">Id: </label>
                            <input type="text" class="form-control" id="idDetail" name="Id" readonly>
                        </div>
                        <div class="form-group">
                            <label for="firstNameDetail" class="col-form-label">First Name: </label>
                            <input type="text" class="form-control" id="firstNameDetail" name="firstname" readonly>
                        </div>
                        <div class="form-group">
                            <label for="lastNameDetail" class="col-form-label">Last Name: </label>
                            <input type="text" class="form-control" id="lastNameDetail" name="lastname" readonly>
                        </div>
                        <div class="form-group">
                            <label for="phoneDetail" class="col-form-label">Phone:</label>
                            <input type="tel" class="form-control" id="phoneDetail" name="phone" readonly>
                        </div>
                        <div class="form-group">
                            <label for="emailDetail" class="col-form-label">Email:</label>
                            <input type="email" class="form-control" id="emailDetail" name="email" readonly>
                        </div>
                        <div class="form-group">
                            <label for="jobTitleDetail" class="col-form-label">Job Title:</label>
                            <input type="text" class="form-control" id="jobTitleDetail" name="jobTitle" readonly>
                        </div>
                        <div class="form-group">
                            <label for="companyNameDetail" class="col-form-label">Company Name:</label>
                            <input type="text" class="form-control" id="companyNameDetail" name="companyName" readonly>
                        </div>

                        <div class="form-group">
                            <label for="ddlCustomerLeadStatusDetail" class="col-form-label">Lead Status: </label>
                            <select class="form-control" id="ddlCustomerLeadStatusDetail" name="customerleadstatusid">
                                <option>-SELECT-</option>
                                <option th:each="customerLeadStatus : ${customerLeadStatuses}"
                                        th:value="${customerLeadStatus.id}"
                                        th:text="${customerLeadStatus.description}">
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="notesDetail" class="col-form-label">Notes:</label>
                            <input type="email" class="form-control" id="notesDetail" name="notes" readonly>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Created By:</label>
                            <input type="text" class="form-control" id="createdByDetails" name="createdBy" readonly>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Created On:</label>
                            <input type="text" class="form-control" id="createdDateDetails" name="createdDate" readonly>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Last Updated By:</label>
                            <input type="text" class="form-control" id="lastModifiedByDetails" name="lastModifiedBy" readonly>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Last Updated On:</label>
                            <input type="text" class="form-control" id="lastModifiedDateDetails" name="lastModifiedDate" readonly>
                        </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Details Modal-->

        <!-- Delete Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirm Delete</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this record?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" id="confirmDeleteButton" href="">Yes, Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Delete Modal-->

    </div>

</main>
<!-- End #main -->

</body>

</html>