<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<head>
    <title>Lead Status Management Page</title>
</head>

<body>

<main id="main" class="main">

    <div layout:fragment="content">

        <div class="pagetitle">
            <h1>Lead Statuses</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
                    <li class="breadcrumb-item">Pages</li>
                    <li class="breadcrumb-item active">Lead Statuses</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <!-- Vertically centered Modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
            New Lead Status
        </button>

        <!-- Table with stripped rows -->
        <table class="table table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>Lead Status</th>
                <th>Details</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customerLeadStatus:${customerLeadStatuses}">
                <td th:text="${customerLeadStatus.id}"></td>
                <td th:text="${customerLeadStatus.description}"></td>
                <td th:text="${customerLeadStatus.details}"></td>
                <td>
                    <div class="btn-group">
                        <a th:href="@{/customerLeadStatuses/findById/(id=${customerLeadStatus.id})}" data-bs-toggle="modal" class="btn btn-success" id="editButton" data-bs-target="#editModal">Edit</a>
                        <a th:href="@{/customerLeadStatuses/findById/(id=${customerLeadStatus.id})}" data-bs-toggle="modal" class="btn btn-warning" id="detailsButton" data-bs-target="#detailsModal">Details</a>
                        <a th:href="@{/customerLeadStatuses/delete/(id=${customerLeadStatus.id})}" data-bs-toggle="modal" class="btn btn-danger" id="deleteButton" data-bs-target="#deleteModal">Delete</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <!-- End Table with stripped rows -->

        <!-- Edit Modal -->
        <div class="modal fade" id="editModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Update Lead Status</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <form th:action="@{/customerLeadStatuses/update}" method="put">
                            <div class="form-group">
                                <label for="idEdit" class="col-form-label">id:</label>
                                <input type="text" class="form-control" id="idEdit" name="id" readonly>
                            </div>
                            <div class="form-group">
                                <label for="descriptionEdit" class="col-form-label">Lead Status:</label>
                                <input type="text" class="form-control" id="descriptionEdit" name="description" placeholder="Lead Status" required>
                            </div>

                            <div class="form-group">
                                <label for="detailsEdit" class="col-form-label">Details:</label>
                                <input type="text" class="form-control" id="detailsEdit" name="details" placeholder="Details" required>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Edit Modal-->

        <!-- Add Modal -->
        <div class="modal fade" id="addModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">New Lead Status</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <form th:action="@{/customerLeadStatuses/addNew}" method="post">

                            <div class="form-group">
                                <label for="descriptionAdd" class="col-form-label">Lead Status:</label>
                                <input type="text" class="form-control" id="descriptionAdd" name="description" placeholder="Lead Status" required>
                            </div>

                            <div class="form-group">
                                <label for="detailsAdd" class="col-form-label">Details:</label>
                                <input type="text" class="form-control" id="detailsAdd" name="details" placeholder="Details" required>
                            </div>

                            <div class="form-group">

                                <button type="submit" class="btn btn-primary">Submit</button>

                            </div>

                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div><!-- End Add Modal-->

        <!-- Details Modal -->
        <div class="modal fade" id="detailsModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Lead Status Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <form>
                            <div class="form-group">
                                <label for="idDetail" class="col-form-label">id:</label>
                                <input type="text" class="form-control" id="idDetail" name="id" readonly>
                            </div>

                            <div class="form-group">
                                <label for="descriptionDetail" class="col-form-label">Lead Status:</label>
                                <input type="text" class="form-control" id="descriptionDetail" name="description" readonly>
                            </div>

                            <div class="form-group">
                                <label for="detailsDetail" class="col-form-label">Details:</label>
                                <input type="text" class="form-control" id="detailsDetail" name="details" readonly>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Created By:</label>
                                <input type="text" class="form-control" id="createdByDetails" name="createdBy" readonly>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Created On:</label>
                                <input type="text" class="form-control" id="createdDateDetails" name="createdDate" readonly>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Last Updated By:</label>
                                <input type="text" class="form-control" id="lastModifiedByDetails" name="lastModifiedBy" readonly>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Last Updated On:</label>
                                <input type="text" class="form-control" id="lastModifiedDateDetails" name="lastModifiedDate" readonly>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Details Modal-->

        <!-- Delete Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirm Delete</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this record?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" id="confirmDeleteButton" href="">Yes, Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Delete Modal-->

    </div>

</main>
<!-- End #main -->

</body>

</html>