<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<head>
  <title>Employee Management Page</title>
</head>

<body>

<main id="main" class="main">

  <div layout:fragment="content">

    <div class="pagetitle">
      <h1>Employees</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
          <li class="breadcrumb-item">Pages</li>
          <li class="breadcrumb-item active">Employees</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->


    <div class="row">
      <div class="col-lg-6">

        <!-- Vertically centered Modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
          New Employee
        </button>

      </div>
      <div class="col-lg-3">

        <div class="search-bar">
          <form class="search-form d-flex align-items-center" th:action="@{/employees}">
            <input type="text" name="keyword" placeholder="Search" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
          </form>
        </div><!-- End Search Bar -->

      </div>

    </div>


    <!-- Table with stripped rows -->
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Photo</th>
        <th>Username</th>
        <th>Full Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Hire Date</th>
        <th>Employee Type</th>
        <th>JobTitle</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="employee:${employees}">
        <td>
          <a id="photoButton" th:href="@{'assets/img/employee photos/' + ${employee.id} +'.jpg'}" data-bs-toggle="modal" data-bs-target="#photoModal">
            <img th:src="@{'assets/img/employee photos/' + ${employee.id} +'.jpg'}" width="40" height="40">
          </a>
        </td>
        <td><a th:text="${employee.username} ?: 'Check'" th:href="@{/employees/assignUsername/(id=${employee.id})}"></a></td>
        <td th:text="${employee.firstname} + ' ' + ${employee.lastname}"></td>
        <td th:text="${employee.phone}"></td>
        <td th:text="${employee.email}"></td>
        <td th:text="${#dates.format(employee.hireDate, 'MM/dd/yyyy')}"></td>
        <td th:text="${employee.employeeType.description}"></td>
        <td th:text="${employee.jobTitle.description}"></td>
        <td>
          <div class="btn-group">
            <a th:href="@{/employees/findById/(id=${employee.id})}" data-bs-toggle="modal" class="btn btn-success" id="editButton" data-bs-target="#editModal">Edit</a>
            <a th:href="@{/employees/findById/(id=${employee.id})}" data-bs-toggle="modal" class="btn btn-warning" id="detailsButton" data-bs-target="#detailsModal">Details</a>
            <a th:href="@{/employees/delete/(id=${employee.id})}" data-bs-toggle="modal" class="btn btn-danger" id="deleteButton" data-bs-target="#deleteModal">Delete</a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <!-- End Table with stripped rows -->

    <!-- Edit Modal -->
    <div class="modal fade" id="editModal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Update Employee</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <form th:action="@{/employees/update}" method="put">

              <table width="100%">
                <tr>
                  <td width="50%">

                    <div class="form-group">
                      <label for="idEdit" class="col-form-label">Id: </label>
                      <input type="text" class="form-control" id="idEdit" name="id" readonly>
                    </div>

                    <div class="form-group">
                      <label for="ddlTitleEdit" class="col-sm-4 col-form-label">Title: </label>
                      <div class="col-sm-6">
                        <select class="form-control" id="ddlTitleEdit" name="title" placeholder="Title" required>
                          <option value="">-SELECT-</option>
                          <option value="Mr.">Mr.</option>
                          <option value="Ms.">Ms.</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="firstNameEdit" class="col-form-label">First Name: </label>
                      <input type="text" class="form-control" id="firstNameEdit" name="firstname" placeholder="First Name" required>
                    </div>
                    <div class="form-group">
                      <label for="lastNameEdit" class="col-form-label">Last Name: </label>
                      <input type="text" class="form-control" id="lastNameEdit" name="lastname" placeholder="Last Name" required>
                    </div>
                    <div class="form-group">
                      <label for="usernameEdit" class="col-form-label">Username:</label>
                      <input type="text" class="form-control" id="usernameEdit" name="username" placeholder="Username">
                    </div>

                    <div class="form-group">
                      <label for="ddlGenderEdit" class="col-sm-4 col-form-label">Gender: </label>
                      <div class="col-sm-6">
                        <select class="form-control" id="ddlGenderEdit" name="gender" required>
                          <option value="">-SELECT-</option>
                          <option value="MALE">MALE</option>
                          <option value="FEMALE">FEMALE</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="dateOfBirthEdit" class="col-form-label">Date of Birth: </label>
                      <input type="date" class="form-control" id="dateOfBirthEdit" name="dateOfBirth" required>
                    </div>

                    <div class="form-group">
                      <label for="phoneEdit" class="col-form-label">Phone:</label>
                      <input type="tel" class="form-control" id="phoneEdit" name="phone" placeholder="Phone" required>
                    </div>

                    <div class="form-group">
                      <label for="emailEdit" class="col-form-label">Email:</label>
                      <input type="email" class="form-control" id="emailEdit" name="email" placeholder="Email" required>
                    </div>

                  </td>
                  <td width="50%" style="padding-left:10px">

                    <div class="form-group">
                      <label for="ddlJobTitleEdit" class="col-sm-4 col-form-label">Job Title:</label>
                      <div class="col-sm-6">
                        <select class="form-control" id="ddlJobTitleEdit" name="jobtitleid" required>
                          <option value="">-SELECT-</option>
                          <option th:each="jobTitle : ${jobTitles}"
                                  th:value="${jobTitle.id}"
                                  th:text="${jobTitle.description}">
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="ddlEmployeeTypeEdit" class="col-form-label">Employee Type: </label>
                      <select class="form-control" id="ddlEmployeeTypeEdit" name="employeetypeid" required>
                        <option value="">-SELECT-</option>
                        <option th:each="employeeType : ${employeeTypes}"
                                th:value="${employeeType.id}"
                                th:text="${employeeType.description}">
                        </option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="hireDateEdit" class="col-form-label">Hire Date: </label>
                      <input type="date" class="form-control" id="hireDateEdit" name="hireDate" required>
                    </div>

                    <div class="form-group">
                      <label for="addressEdit" class="col-form-label">Address:</label>
                      <input type="text" class="form-control" id="addressEdit" name="address" placeholder="Address" required>
                    </div>
                    <div class="form-group">
                      <label for="cityEdit" class="col-form-label">City:</label>
                      <input type="text" class="form-control" id="cityEdit" name="city" placeholder="City" required>
                    </div>

                    <div class="form-group">
                      <label for="ddlStateEdit" class="col-form-label">State: </label>
                      <select class="form-control" id="ddlStateEdit" name="stateid" required>
                        <option value="">-SELECT-</option>
                        <option th:each="state : ${states}"
                                th:value="${state.id}"
                                th:text="${state.name}">
                        </option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="ddlCountryEdit" class="col-form-label">Country: </label>
                      <select class="form-control" id="ddlCountryEdit" name="countryid" required>
                        <option value="">-SELECT-</option>
                        <option th:each="country : ${countries}"
                                th:value="${country.id}"
                                th:text="${country.description}">
                        </option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="socialSecurityNumberEdit" class="col-form-label">Social Security Number:</label>
                      <input type="text" class="form-control" id="socialSecurityNumberEdit" name="socialSecurityNumber" placeholder="Social Security Number">
                    </div>

                  </td>
                </tr>
              </table>

              <div class="form-group">

                <button type="submit" class="btn btn-primary">Submit</button>

              </div>

            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Edit Modal-->

    <!-- Add Modal -->
    <div class="modal fade" id="addModal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">New Employee</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <form th:action="@{/employees/addNew}" method="post">

              <table width="100%">
                <tr>
                  <td width="50%">

                    <div class="form-group">
                      <label for="ddlTitleAdd" class="col-sm-4 col-form-label">Title: </label>
                      <div class="col-sm-6">
                        <select class="form-control" id="ddlTitleAdd" name="title" placeholder="Title" required>
                          <option value="">-SELECT-</option>
                          <option value="Mr.">Mr.</option>
                          <option value="Ms.">Ms.</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="firstNameAdd" class="col-form-label">First Name: </label>
                      <input type="text" class="form-control" id="firstNameAdd" name="firstname" placeholder="First Name" required>
                    </div>

                    <div class="form-group">
                      <label for="lastNameAdd" class="col-form-label">Last Name: </label>
                      <input type="text" class="form-control" id="lastNameAdd" name="lastname" placeholder="Last Name" required>
                    </div>
                    <div class="form-group">
                      <label for="usernameAdd" class="col-form-label">Username:</label>
                      <input type="text" class="form-control" id="usernameAdd" name="username" placeholder="Username">
                    </div>

                    <div class="form-group">
                      <label for="ddlGenderAdd" class="col-sm-4 col-form-label">Gender: </label>
                      <div class="col-sm-6">
                        <select class="form-control" id="ddlGenderAdd" name="gender" required>
                          <option value="">-SELECT-</option>
                          <option value="MALE">MALE</option>
                          <option value="FEMALE">FEMALE</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="dateOfBirthAdd" class="col-form-label">Date of Birth: </label>
                      <input type="date" class="form-control" id="dateOfBirthAdd" name="dateOfBirth" placeholder="Date of Birth" required>
                    </div>

                    <div class="form-group">
                      <label for="phoneAdd" class="col-form-label">Phone:</label>
                      <input type="tel" class="form-control" id="phoneAdd" name="phone" placeholder="Phone" pattern="[0-9]+" required>
                    </div>

                    <div class="form-group">
                      <label for="emailAdd" class="col-form-label">Email:</label>
                      <input type="email" class="form-control" id="emailAdd" name="email" placeholder="Email" required>
                    </div>

                  </td>
                  <td width="50%" style="padding-left:10px">

                    <div class="form-group">
                      <label for="ddlJobTitleAdd" class="col-sm-4 col-form-label">Job Title:</label>
                      <div class="col-sm-6">
                        <select class="form-control" id="ddlJobTitleAdd" name="jobtitleid" required>
                          <option value="">-SELECT-</option>
                          <option th:each="jobTitle : ${jobTitles}"
                                  th:value="${jobTitle.id}"
                                  th:text="${jobTitle.description}">
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="ddlEmployeeTypeAdd" class="col-form-label">Employee Type: </label>
                      <select class="form-control" id="ddlEmployeeTypeAdd" name="employeetypeid" required>
                        <option value="">-SELECT-</option>
                        <option th:each="employeeType : ${employeeTypes}"
                                th:value="${employeeType.id}"
                                th:text="${employeeType.description}">
                        </option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="hireDateAdd" class="col-form-label">Hire Date: </label>
                      <input type="date" class="form-control" id="hireDateAdd" name="hireDate" placeholder="Hire Date" required>
                    </div>

                    <div class="form-group">
                      <label for="addressAdd" class="col-form-label">Address:</label>
                      <input type="text" class="form-control" id="addressAdd" name="address" placeholder="Address" required>
                    </div>
                    <div class="form-group">
                      <label for="cityAdd" class="col-form-label">City:</label>
                      <input type="text" class="form-control" id="cityAdd" name="city" placeholder="City" required>
                    </div>

                    <div class="form-group">
                      <label for="ddlStateAdd" class="col-form-label">State: </label>
                      <select class="form-control" id="ddlStateAdd" name="stateid" required>
                        <option value="">-SELECT-</option>
                        <option th:each="state : ${states}"
                                th:value="${state.id}"
                                th:text="${state.name}">
                        </option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="ddlCountryAdd" class="col-form-label">Country: </label>
                      <select class="form-control" id="ddlCountryAdd" name="countryid" required>
                        <option value="">-SELECT-</option>
                        <option th:each="country : ${countries}"
                                th:value="${country.id}"
                                th:text="${country.description}">
                        </option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="socialSecurityNumberAdd" class="col-form-label">Social Security Number:</label>
                      <input type="text" class="form-control" id="socialSecurityNumberAdd" name="socialSecurityNumber" placeholder="Social Security Number">
                    </div>

                  </td>
                </tr>
              </table>

              <div class="form-group">

                <button type="submit" class="btn btn-primary">Submit</button>

              </div>

            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Add Modal-->

    <!-- Details Modal -->
    <div class="modal fade" id="detailsModal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Employee Details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <table width="100%">
              <tr>
                <td width="50%">

                  <div class="form-group">
                    <label for="idDetail" class="col-form-label">Id: </label>
                    <input type="text" class="form-control" id="idDetail" name="id" readonly>
                  </div>

                  <div class="form-group">
                    <label for="ddlTitleDetail" class="col-sm-4 col-form-label">Title: </label>
                    <div class="col-sm-6">
                      <select class="form-control" id="ddlTitleDetail" name="title" disabled>
                        <option>-SELECT-</option>
                        <option value="MALE">Mr.</option>
                        <option value="FEMALE">Ms.</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="firstNameDetail" class="col-form-label">First Name: </label>
                    <input type="text" class="form-control" id="firstNameDetail" name="firstname" readonly>
                  </div>
                  <div class="form-group">
                    <label for="lastNameDetail" class="col-form-label">Last Name: </label>
                    <input type="text" class="form-control" id="lastNameDetail" name="lastname" readonly>
                  </div>
                  <div class="form-group">
                    <label for="usernameDetail" class="col-form-label">Username:</label>
                    <input type="text" class="form-control" id="usernameDetail" name="username" readonly>
                  </div>

                  <div class="form-group">
                    <label for="ddlGenderDetail" class="col-sm-4 col-form-label">Gender: </label>
                    <div class="col-sm-6">
                      <select class="form-control" id="ddlGenderDetail" name="gender" disabled>
                        <option>-SELECT-</option>
                        <option value="MALE">MALE</option>
                        <option value="FEMALE">FEMALE</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="dateOfBirthDetail" class="col-form-label">Date of Birth: </label>
                    <input type="date" class="form-control" id="dateOfBirthDetail" name="dateOfBirth" readonly>
                  </div>

                  <div class="form-group">
                    <label for="phoneDetail" class="col-form-label">Phone:</label>
                    <input type="tel" class="form-control" id="phoneDetail" name="phone" readonly>
                  </div>

                  <div class="form-group">
                    <label for="emailDetail" class="col-form-label">Email:</label>
                    <input type="email" class="form-control" id="emailDetail" name="email" readonly>
                  </div>

                  <div class="form-group">
                    <label for="ddlJobTitleDetail" class="col-sm-4 col-form-label">Job Title:</label>
                    <div class="col-sm-6">
                      <select class="form-control" id="ddlJobTitleDetail" name="jobtitleid" disabled>
                        <option>-SELECT-</option>
                        <option th:each="jobTitle : ${jobTitles}"
                                th:value="${jobTitle.id}"
                                th:text="${jobTitle.description}">
                        </option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="ddlEmployeeTypeDetail" class="col-form-label">Employee Type: </label>
                    <select class="form-control" id="ddlEmployeeTypeDetail" name="employeetypeid" disabled>
                      <option>-SELECT-</option>
                      <option th:each="employeeType : ${employeeTypes}"
                              th:value="${employeeType.id}"
                              th:text="${employeeType.description}">
                      </option>
                    </select>
                  </div>

                </td>
                <td width="50%" style="padding-left:10px">

                  <div class="form-group">
                    <label for="hireDateDetail" class="col-form-label">Hire Date: </label>
                    <input type="date" class="form-control" id="hireDateDetail" name="hireDate" readonly>
                  </div>

                  <div class="form-group">
                    <label for="addressDetail" class="col-form-label">Address:</label>
                    <input type="text" class="form-control" id="addressDetail" name="address" readonly>
                  </div>
                  <div class="form-group">
                    <label for="cityDetail" class="col-form-label">City:</label>
                    <input type="text" class="form-control" id="cityDetail" name="city" readonly>
                  </div>

                  <div class="form-group">
                    <label for="ddlStateDetail" class="col-form-label">State: </label>
                    <select class="form-control" id="ddlStateDetail" name="stateid" disabled>
                      <option>-SELECT-</option>
                      <option th:each="state : ${states}"
                              th:value="${state.id}"
                              th:text="${state.name}">
                      </option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="ddlCountryDetail" class="col-form-label">Country: </label>
                    <select class="form-control" id="ddlCountryDetail" name="countryid" disabled>
                      <option>-SELECT-</option>
                      <option th:each="country : ${countries}"
                              th:value="${country.id}"
                              th:text="${country.description}">
                      </option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="socialSecurityNumberDetail" class="col-form-label">Social Security Number:</label>
                    <input type="text" class="form-control" id="socialSecurityNumberDetail" name="socialSecurityNumber" readonly>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Created By:</label>
                    <input type="text" class="form-control" id="createdByDetails" name="createdBy" readonly>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Created On:</label>
                    <input type="text" class="form-control" id="createdDateDetails" name="createdDate" readonly>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Last Updated By:</label>
                    <input type="text" class="form-control" id="lastModifiedByDetails" name="lastModifiedBy" readonly>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Last Updated On:</label>
                    <input type="text" class="form-control" id="lastModifiedDateDetails" name="lastModifiedDate" readonly>
                  </div>

                </td>
              </tr>
            </table>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Details Modal-->

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirm Delete</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete this record?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" id="confirmDeleteButton" href="">Yes, Delete</a>
          </div>
        </div>
      </div>
    </div>
    <!-- End Delete Modal-->

    <!-- Photo Modal -->
    <div class="modal fade" id="photoModal" tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Employee Photo</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <img id="employeePhoto" src="" width="95%" height="95%">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Photo Modal-->

  </div>

</main>
<!-- End #main -->

</body>

</html>