<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<head>
  <title>House Management Page</title>
</head>

<body>

<main id="main" class="main">

  <div layout:fragment="content">
    <div class="pagetitle">
      <h1>Houses</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
          <li class="breadcrumb-item">Pages</li>
          <li class="breadcrumb-item active">Houses</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->


    <div class="row">
      <div class="col-lg-6">

        <!-- Vertically centered Modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
          New House
        </button>

      </div>
      <div class="col-lg-3">

        <div class="search-bar">
          <form class="search-form d-flex align-items-center" th:action="@{/houses}">
            <input type="text" name="keyword" placeholder="Search" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
          </form>
        </div><!-- End Search Bar -->

      </div>

    </div>


    <!-- Table with stripped rows -->
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Photo</th>
        <th>Price</th>
        <th>Status</th>
        <th>House Type</th>
        <th>Bedrooms</th>
        <th>Bathrooms</th>
        <th>Sqft</th>
        <th>Location</th>
        <th>Market Entry Date</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="house:${houses}">
        <td>
          <a id="photoButton" th:href="@{'assets/img/house photos/' + ${house.id} +'.jpg'}" data-bs-toggle="modal" data-bs-target="#photoModal">
            <img th:src="@{'assets/img/house photos/' + ${house.id} +'.jpg'}" width="40" height="40">
          </a>
        </td>
        <td th:text="${#numbers.formatCurrency(house.price)}"></td>
        <td th:text="${house.houseStatus.description}"></td>
        <td th:text="${house.houseType.description}"></td>
        <td th:text="${house.bedrooms}"></td>
        <td th:text="${house.bathrooms}"></td>
        <td th:text="${house.sqft}"></td>
        <td th:text="${house.location.address}"></td>
        <td th:text="${#dates.format(house.marketEntryDate, 'MM/dd/yyyy')}"></td>
        <td>
          <div class="btn-group">
            <a th:href="@{/houses/findById/(id=${house.id})}" data-bs-toggle="modal" class="btn btn-success" id="editButton" data-bs-target="#editModal">Edit</a>
            <a th:href="@{/houses/findById/(id=${house.id})}" data-bs-toggle="modal" class="btn btn-warning" id="detailsButton" data-bs-target="#detailsModal">Details</a>
            <a th:href="@{/houses/delete/(id=${house.id})}" data-bs-toggle="modal" class="btn btn-danger" id="deleteButton" data-bs-target="#deleteModal">Delete</a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <!-- End Table with stripped rows -->

    <!-- Edit Modal -->
    <div class="modal fade" id="editModal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Update House</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <form th:action="@{/houses/update}" method="put">

              <table width="100%">
                <tr>
                  <td width="50%">

                    <div class="form-group">
                      <label for="idEdit" class="col-form-label">Id: </label>
                      <input type="text" class="form-control" id="idEdit" name="id" readonly>
                    </div>
                    <div class="form-group">
                      <label for="priceEdit" class="col-form-label">Price: </label>
                      <input type="number" class="form-control" id="priceEdit" name="price" required>
                    </div>

                    <div class="form-group">
                      <label for="ddlHouseStatusEdit" class="col-sm-4 col-form-label">House Status:</label>
                      <div class="col-sm-6">
                        <select class="form-control" id="ddlHouseStatusEdit" name="housestatusid" required>
                          <option value="">-SELECT-</option>
                          <option th:each="houseStatus : ${houseStatuses}"
                                  th:value="${houseStatus.id}"
                                  th:text="${houseStatus.description}">
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="ddlHouseTypeEdit" class="col-form-label">House Type: </label>
                      <select class="form-control" id="ddlHouseTypeEdit" name="housetypeid" required>
                        <option value="">-SELECT-</option>
                        <option th:each="houseType : ${houseTypes}"
                                th:value="${houseType.id}"
                                th:text="${houseType.description}">
                        </option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="bedroomsEdit" class="col-form-label">Bedrooms: </label>
                      <input type="number" class="form-control" id="bedroomsEdit" name="bedrooms" required>
                    </div>

                    <div class="form-group">
                      <label for="bathroomsEdit" class="col-form-label">Bathrooms: </label>
                      <input type="number" class="form-control" id="bathroomsEdit" name="bathrooms" required>
                    </div>

                    <div class="form-group">
                      <label for="storiesEdit" class="col-form-label">Stories: </label>
                      <input type="number" class="form-control" id="storiesEdit" name="stories" required>
                    </div>

                    <div class="form-group">
                      <label for="yearBuiltEdit" class="col-form-label">Year Built: </label>
                      <input type="number" class="form-control" id="yearBuiltEdit" name="yearBuilt" required>
                    </div>

                  </td>
                  <td width="50%" style="padding-left:10px">

                    <div class="form-group">
                      <label for="sqftEdit" class="col-form-label">Sqft: </label>
                      <input type="number" class="form-control" id="sqftEdit" name="sqft" required>
                    </div>

                    <div class="form-group">
                      <label for="ddlLocationEdit" class="col-form-label">Location: </label>
                      <select class="form-control" id="ddlLocationEdit" name="locationid" required>
                        <option value="">-SELECT-</option>
                        <option th:each="location : ${locations}"
                                th:value="${location.id}"
                                th:text="${location.address}">
                        </option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="marketEntryDateEdit" class="col-form-label">Market Entry Date: </label>
                      <input type="date" class="form-control" id="marketEntryDateEdit" name="marketEntryDate" required>
                    </div>

                    <div class="form-group">
                      <label for="ddlEmployeeEdit" class="col-sm-4 col-form-label">Employee in Charge:</label>
                      <div class="col-sm-6">
                        <select class="form-control" id="ddlEmployeeEdit" name="employeeid" required>
                          <option value="">-SELECT-</option>
                          <option th:each="employee : ${employees}"
                                  th:value="${employee.id}"
                                  th:text="${employee.fullName}">
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="descriptionEdit" class="col-form-label">Description: </label>
                      <input type="text" class="form-control" id="descriptionEdit" name="description" required>
                    </div>

                    <div class="form-group">
                      <label for="ddlHasPoolEdit" class="col-sm-4 col-form-label">Pool?: </label>
                      <div class="col-sm-6">
                        <select class="form-control" id="ddlHasPoolEdit" name="hasPool" required>
                          <option value="">-SELECT-</option>
                          <option value="Yes">Yes</option>
                          <option value="No">No</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="ddlHasFireplaceEdit" class="col-sm-4 col-form-label">Fireplace?: </label>
                      <div class="col-sm-6">
                        <select class="form-control" id="ddlHasFireplaceEdit" name="hasFireplace" required>
                          <option value="">-SELECT-</option>
                          <option value="Yes">Yes</option>
                          <option value="No">No</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="ddlHasGarageEdit" class="col-sm-4 col-form-label">Garage?: </label>
                      <div class="col-sm-6">
                        <select class="form-control" id="ddlHasGarageEdit" name="hasGarage" required>
                          <option value="">-SELECT-</option>
                          <option value="Yes">Yes</option>
                          <option value="No">No</option>
                        </select>
                      </div>
                    </div>

                  </td>
                </tr>
              </table>

              <div class="form-group">

                <button type="submit" class="btn btn-primary">Submit</button>

              </div>

            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Edit Modal-->

    <!-- Add Modal -->
    <div class="modal fade" id="addModal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">New House</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <form th:action="@{/houses/addNew}" method="post">

              <table width="100%">
                <tr>
                  <td width="50%">

                    <div class="form-group">
                      <label for="priceAdd" class="col-form-label">Price: </label>
                      <input type="number" class="form-control" id="priceAdd" name="price" placeholder="Price" required>
                    </div>

                    <div class="form-group">
                      <label for="ddlHouseStatusAdd" class="col-sm-4 col-form-label">House Status:</label>
                      <div class="col-sm-6">
                        <select class="form-control" id="ddlHouseStatusAdd" name="housestatusid" required>
                          <option value="">-SELECT-</option>
                          <option th:each="houseStatus : ${houseStatuses}"
                                  th:value="${houseStatus.id}"
                                  th:text="${houseStatus.description}">
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="ddlHouseTypeAdd" class="col-form-label">House Type: </label>
                      <select class="form-control" id="ddlHouseTypeAdd" name="housetypeid" required>
                        <option value="">-SELECT-</option>
                        <option th:each="houseType : ${houseTypes}"
                                th:value="${houseType.id}"
                                th:text="${houseType.description}">
                        </option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="bedroomsAdd" class="col-form-label">Bedrooms: </label>
                      <input type="number" class="form-control" id="bedroomsAdd" name="bedrooms" placeholder="Bedrooms" required>
                    </div>

                    <div class="form-group">
                      <label for="bathroomsAdd" class="col-form-label">Bathrooms: </label>
                      <input type="number" class="form-control" id="bathroomsAdd" name="bathrooms" placeholder="Bathrooms" required>
                    </div>

                    <div class="form-group">
                      <label for="storiesAdd" class="col-form-label">Stories: </label>
                      <input type="number" class="form-control" id="storiesAdd" name="stories" placeholder="Stories" required>
                    </div>

                    <div class="form-group">
                      <label for="yearBuiltAdd" class="col-form-label">Year Built: </label>
                      <input type="number" class="form-control" id="yearBuiltAdd" name="yearBuilt" placeholder="Year Built" required>
                    </div>

                  </td>
                  <td width="50%" style="padding-left:10px">

                    <div class="form-group">
                      <label for="sqftAdd" class="col-form-label">Sqft: </label>
                      <input type="number" class="form-control" id="sqftAdd" name="sqft" placeholder="Sqft" required>
                    </div>

                    <div class="form-group">
                      <label for="ddlLocationAdd" class="col-form-label">Location: </label>
                      <select class="form-control" id="ddlLocationAdd" name="locationid" required>
                        <option value="">-SELECT-</option>
                        <option th:each="location : ${locations}"
                                th:value="${location.id}"
                                th:text="${location.address}">
                        </option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="marketEntryDateAdd" class="col-form-label">Market Entry Date: </label>
                      <input type="date" class="form-control" id="marketEntryDateAdd" name="marketEntryDate" placeholder="Market Entry Date" required>
                    </div>

                    <div class="form-group">
                      <label for="ddlEmployeeAdd" class="col-sm-4 col-form-label">Employee in Charge:</label>
                      <div class="col-sm-6">
                        <select class="form-control" id="ddlEmployeeAdd" name="employeeid" required>
                          <option value="">-SELECT-</option>
                          <option th:each="employee : ${employees}"
                                  th:value="${employee.id}"
                                  th:text="${employee.fullName}">
                          </option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="descriptionAdd" class="col-form-label">Description: </label>
                      <input type="text" class="form-control" id="descriptionAdd" name="description" placeholder="Description" required>
                    </div>

                    <div class="form-group">
                      <label for="ddlHasPoolAdd" class="col-sm-4 col-form-label">Pool?: </label>
                      <div class="col-sm-6">
                        <select class="form-control" id="ddlHasPoolAdd" name="hasPool" required>
                          <option value="">-SELECT-</option>
                          <option value="Yes">Yes</option>
                          <option value="No">No</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="ddlHasFireplaceAdd" class="col-sm-4 col-form-label">Fireplace?: </label>
                      <div class="col-sm-6">
                        <select class="form-control" id="ddlHasFireplaceAdd" name="hasFireplace" required>
                          <option value="">-SELECT-</option>
                          <option value="Yes">Yes</option>
                          <option value="No">No</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="ddlHasGarageAdd" class="col-sm-4 col-form-label">Garage?: </label>
                      <div class="col-sm-6">
                        <select class="form-control" id="ddlHasGarageAdd" name="hasGarage" required>
                          <option value="">-SELECT-</option>
                          <option value="Yes">Yes</option>
                          <option value="No">No</option>
                        </select>
                      </div>
                    </div>

                  </td>
                </tr>
              </table>

              <div class="form-group">

                <button type="submit" class="btn btn-primary">Submit</button>

              </div>

            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Add Modal-->

    <!-- Details Modal -->
    <div class="modal fade" id="detailsModal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">House Details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <table width="100%">
              <tr>
                <td width="50%">
                  <div class="form-group">
                    <label for="idDetail" class="col-form-label">Id: </label>
                    <input type="text" class="form-control" id="idDetail" name="id" readonly>
                  </div>
                  <div class="form-group">
                    <label for="priceDetail" class="col-form-label">Price: </label>
                    <input type="number" class="form-control" id="priceDetail" name="price" readonly>
                  </div>

                  <div class="form-group">
                    <label for="ddlHouseStatusDetail" class="col-sm-4 col-form-label">House Status:</label>
                    <div class="col-sm-6">
                      <select class="form-control" id="ddlHouseStatusDetail" name="housestatusid" disabled>
                        <option>-SELECT-</option>
                        <option th:each="houseStatus : ${houseStatuses}"
                                th:value="${houseStatus.id}"
                                th:text="${houseStatus.description}">
                        </option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="ddlHouseTypeDetail" class="col-form-label">House Type: </label>
                    <select class="form-control" id="ddlHouseTypeDetail" name="housetypeid" disabled>
                      <option>-SELECT-</option>
                      <option th:each="houseType : ${houseTypes}"
                              th:value="${houseType.id}"
                              th:text="${houseType.description}">
                      </option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="bedroomsDetail" class="col-form-label">Bedrooms: </label>
                    <input type="number" class="form-control" id="bedroomsDetail" name="bedrooms" readonly>
                  </div>

                  <div class="form-group">
                    <label for="bathroomsDetail" class="col-form-label">Bathrooms: </label>
                    <input type="number" class="form-control" id="bathroomsDetail" name="bathrooms" readonly>
                  </div>

                  <div class="form-group">
                    <label for="storiesDetail" class="col-form-label">Stories: </label>
                    <input type="number" class="form-control" id="storiesDetail" name="stories" readonly>
                  </div>

                  <div class="form-group">
                    <label for="yearBuiltDetail" class="col-form-label">Year Built: </label>
                    <input type="number" class="form-control" id="yearBuiltDetail" name="yearBuilt" readonly>
                  </div>
                  <div class="form-group">
                    <label for="sqftDetail" class="col-form-label">Sqft: </label>
                    <input type="number" class="form-control" id="sqftDetail" name="sqft" readonly>
                  </div>

                </td>
                <td width="50%" style="padding-left:10px">

                  <div class="form-group">
                    <label for="ddlLocationDetail" class="col-form-label">Location: </label>
                    <select class="form-control" id="ddlLocationDetail" name="locationid" disabled>
                      <option>-SELECT-</option>
                      <option th:each="location : ${locations}"
                              th:value="${location.id}"
                              th:text="${location.address}">
                      </option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="marketEntryDateDetail" class="col-form-label">Market Entry Date: </label>
                    <input type="date" class="form-control" id="marketEntryDateDetail" name="marketEntryDate" readonly>
                  </div>

                  <div class="form-group">
                    <label for="ddlEmployeeDetail" class="col-sm-4 col-form-label">Employee in Charge:</label>
                    <div class="col-sm-6">
                      <select class="form-control" id="ddlEmployeeDetail" name="employeeid" disabled>
                        <option>-SELECT-</option>
                        <option th:each="employee : ${employees}"
                                th:value="${employee.id}"
                                th:text="${employee.fullName}">
                        </option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="descriptionDetail" class="col-form-label">Description: </label>
                    <input type="text" class="form-control" id="descriptionDetail" name="description" readonly>
                  </div>

                  <div class="form-group">
                    <label for="ddlHasPoolDetail" class="col-sm-4 col-form-label">Pool?: </label>
                    <div class="col-sm-6">
                      <select class="form-control" id="ddlHasPoolDetail" name="hasPool" disabled>
                        <option>-SELECT-</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="ddlHasFireplaceDetail" class="col-sm-4 col-form-label">Fireplace?: </label>
                    <div class="col-sm-6">
                      <select class="form-control" id="ddlHasFireplaceDetail" name="hasFireplace" disabled>
                        <option>-SELECT-</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="ddlHasGarageDetail" class="col-sm-4 col-form-label">Garage?: </label>
                    <div class="col-sm-6">
                      <select class="form-control" id="ddlHasGarageDetail" name="hasGarage" disabled>
                        <option>-SELECT-</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Created By:</label>
                    <input type="text" class="form-control" id="createdByDetails" name="createdBy" readonly>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Created On:</label>
                    <input type="text" class="form-control" id="createdDateDetails" name="createdDate" readonly>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Last Updated By:</label>
                    <input type="text" class="form-control" id="lastModifiedByDetails" name="lastModifiedBy" readonly>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Last Updated On:</label>
                    <input type="text" class="form-control" id="lastModifiedDateDetails" name="lastModifiedDate" readonly>
                  </div>

                </td>
              </tr>
            </table>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Details Modal-->

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirm Delete</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete this record?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" id="confirmDeleteButton" href="">Yes, Delete</a>
          </div>
        </div>
      </div>
    </div>
    <!-- End Delete Modal-->

    <!-- Photo Modal -->
    <div class="modal fade" id="photoModal" tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">House Photo</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <img id="housePhoto" src="" width="95%" height="95%">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Photo Modal-->

    <script src="assets/js/house.js"></script>
  </div>
  <script src="assets/js/house.js"></script>


</main><!-- End #main -->



<script src="assets/js/house.js"></script>

</body>

</html>