<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<head>
  <title>Invoice Management Page</title>
</head>

<body>

<main id="main" class="main">

  <div layout:fragment="content">

    <div class="pagetitle">
      <h1>Invoices</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
          <li class="breadcrumb-item">Pages</li>
          <li class="breadcrumb-item active">Invoices</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <div class="row">
      <div class="col-lg-6">

        <!-- Vertically centered Modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
          New Invoice
        </button>

      </div>
      <div class="col-lg-3">

        <div class="search-bar">
          <form class="search-form d-flex align-items-center" th:action="@{/invoices}">
            <input type="text" name="keyword" placeholder="Search" title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
          </form>
        </div><!-- End Search Bar -->

      </div>

    </div>


    <!-- Table with stripped rows -->
    <table class="table table-striped">
      <thead>
      <tr>
        <th>id</th>
        <th>Invoice Date</th>
        <th>Amount Payable</th>
        <th>Invoice Status</th>
        <th>Client</th>
        <th>Remarks</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="invoice:${invoices}">
        <td th:text="${invoice.id}"></td>
        <td th:text="${#dates.format(invoice.invoiceDate, 'MM/dd/yyyy')}"></td>
        <td th:text="${#numbers.formatCurrency(invoice.amountPayable)}"></td>
        <!--        <td th:text="${invoice.amountPayable}"></td>-->
        <td th:text="${invoice.invoiceStatus.description}"></td>
        <td th:text="${invoice.client.name}"></td>
        <td th:text="${invoice.remarks}"></td>
        <td>
          <div class="btn-group">
            <a th:href="@{/invoices/findById/(id=${invoice.id})}" data-bs-toggle="modal" class="btn btn-success" id="editButton" data-bs-target="#editModal">Edit</a>
            <a th:href="@{/invoices/findById/(id=${invoice.id})}" data-bs-toggle="modal" class="btn btn-warning" id="detailsButton" data-bs-target="#detailsModal">Details</a>
            <a th:href="@{/invoices/delete/(id=${invoice.id})}" data-bs-toggle="modal" class="btn btn-danger" id="deleteButton" data-bs-target="#deleteModal">Delete</a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <!-- End Table with stripped rows -->

    <!-- Edit Modal -->
    <div class="modal fade" id="editModal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Update Invoice</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <form th:action="@{/invoices/update}" method="put">

              <div class="form-group">
                <label for="idEdit" class="col-form-label">Id: </label>
                <input type="text" class="form-control" id="idEdit" name="id" readonly>
              </div>
              <div class="form-group">
                <label for="invoiceDateEdit" class="col-form-label">Invoice Date: </label>
                <input type="date" class="form-control" id="invoiceDateEdit" name="invoiceDate" required>
              </div>
              <div class="form-group">
                <label for="paymentTermsEdit" class="col-form-label">Payment Terms:</label>
                <input type="text" class="form-control" id="paymentTermsEdit" name="paymentTerms" placeholder="Payment Terms" required>
              </div>
              <div class="form-group">
                <label for="amountPayableEdit" class="col-form-label">Amount Payable:</label>
                <input type="number" class="form-control" id="amountPayableEdit" name="amountPayable" placeholder="Amount Payable" required>
              </div>

              <div class="form-group">
                <label for="ddlInvoiceStatusEdit" class="col-form-label">Invoice Status: </label>
                <select class="form-control" id="ddlInvoiceStatusEdit" name="invoicestatusid" required>
                  <option value="">-SELECT-</option>
                  <option th:each="invoiceStatus : ${invoiceStatuses}"
                          th:value="${invoiceStatus.id}"
                          th:text="${invoiceStatus.description}">
                  </option>
                </select>
              </div>

              <div class="form-group">
                <label for="ddlClientEdit" class="col-form-label">Client: </label>
                <select class="form-control" id="ddlClientEdit" name="clientid" required>
                  <option value="">-SELECT-</option>
                  <option th:each="client : ${clients}"
                          th:value="${client.id}"
                          th:text="${client.name}">
                  </option>
                </select>
              </div>

              <div class="form-group">
                <label for="remarksEdit" class="col-form-label">Remarks:</label>
                <input type="text" class="form-control" id="remarksEdit" name="remarks" placeholder="Remarks">
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Edit Modal-->

    <!-- Add Modal -->
    <div class="modal fade" id="addModal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">New Invoice</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <form th:action="@{/invoices/addNew}" method="post">

              <div class="form-group">
                <label for="invoiceDateAdd" class="col-form-label">Invoice Date: </label>
                <input type="date" class="form-control" id="invoiceDateAdd" name="invoiceDate" required>
              </div>

              <div class="form-group">
                <label for="amountPayableAdd" class="col-form-label">Amount Payable:</label>
                <input type="number" class="form-control" id="amountPayableAdd" name="amountPayable" placeholder="Amount Payable" required>
              </div>

              <div class="form-group">
                <label for="paymentTermsAdd" class="col-form-label">Payment Terms:</label>
                <input type="number" class="form-control" id="paymentTermsAdd" name="paymentTerms" placeholder="Payment Terms" required>
              </div>

              <div class="form-group">
                <label for="ddlinvoiceStatusAdd" class="col-form-label">Invoice Status: </label>
                <select class="form-control" id="ddlinvoiceStatusAdd" name="invoicestatusid" required>
                  <option value="">-SELECT-</option>
                  <option th:each="invoiceStatus : ${invoiceStatuses}"
                          th:value="${invoiceStatus.id}"
                          th:text="${invoiceStatus.description}">
                  </option>
                </select>
              </div>

              <div class="form-group">
                <label for="ddlClientAdd" class="col-form-label">Client: </label>
                <select class="form-control" id="ddlClientAdd" name="clientid" required>
                  <option value="">-SELECT-</option>
                  <option th:each="client : ${clients}"
                          th:value="${client.id}"
                          th:text="${client.name}">
                  </option>
                </select>
              </div>

              <div class="form-group">
                <label for="remarksAdd" class="col-form-label">Remarks:</label>
                <input type="text" class="form-control" id="remarksAdd" name="remarks" placeholder="Remarks">
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>

            </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Add Modal-->

    <!-- Details Modal -->
    <div class="modal fade" id="detailsModal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Invoice Details</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <div class="form-group">
              <label for="idDetail" class="col-form-label">Id: </label>
              <input type="text" class="form-control" id="idDetail" name="id" readonly>
            </div>
            <div class="form-group">
              <label for="invoiceDateDetail" class="col-form-label">Invoice Date: </label>
              <input type="date" class="form-control" id="invoiceDateDetail" name="invoiceDate" readonly>
            </div>
            <div class="form-group">
              <label for="paymentTermsDetail" class="col-form-label">Payment Terms:</label>
              <input type="text" class="form-control" id="paymentTermsDetail" name="paymentTerms" readonly>
            </div>
            <div class="form-group">
              <label for="amountPayableDetail" class="col-form-label">Amount Payable:</label>
              <input type="number" class="form-control" id="amountPayableDetail" name="amountPayable" readonly>
            </div>

            <div class="form-group">
              <label for="ddlInvoiceStatusDetail" class="col-form-label">Invoice Status: </label>
              <select class="form-control" id="ddlInvoiceStatusDetail" name="invoicestatusid" disabled>
                <option>-SELECT-</option>
                <option th:each="invoiceStatus : ${invoiceStatuses}"
                        th:value="${invoiceStatus.id}"
                        th:text="${invoiceStatus.description}">
                </option>
              </select>
            </div>

            <div class="form-group">
              <label for="ddlClientDetail" class="col-form-label">Client: </label>
              <select class="form-control" id="ddlClientDetail" name="clientid" disabled>
                <option>-SELECT-</option>
                <option th:each="client : ${clients}"
                        th:value="${client.id}"
                        th:text="${client.name}">
                </option>
              </select>
            </div>

            <div class="form-group">
              <label for="remarksDetail" class="col-form-label">Remarks:</label>
              <input type="text" class="form-control" id="remarksDetail" name="remarks" readonly>
            </div>
            <div class="form-group">
              <label class="col-form-label">Created By:</label>
              <input type="text" class="form-control" id="createdByDetails" name="createdBy" readonly>
            </div>
            <div class="form-group">
              <label class="col-form-label">Created On:</label>
              <input type="text" class="form-control" id="createdDateDetails" name="createdDate" readonly>
            </div>
            <div class="form-group">
              <label class="col-form-label">Last Updated By:</label>
              <input type="text" class="form-control" id="lastModifiedByDetails" name="lastModifiedBy" readonly>
            </div>
            <div class="form-group">
              <label class="col-form-label">Last Updated On:</label>
              <input type="text" class="form-control" id="lastModifiedDateDetails" name="lastModifiedDate" readonly>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Details Modal-->

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirm Delete</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete this record?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" id="confirmDeleteButton" href="">Yes, Delete</a>
          </div>
        </div>
      </div>
    </div>
    <!-- End Delete Modal-->

  </div>

</main>
<!-- End #main -->

</body>

</html>